{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="bg-gray-50 font-serif leading-normal tracking-normal flex">
    <!-- Sidebar -->
    <div
      class="border-r-2 px-2 py-6 h-screen flex flex-col justify-between w-max"
    >
      <img src="/static/assets/images/sidebar1.png" alt="sidebar1" />
      <img src="/static/assets/images/sidebar2.png" alt="sidebar2" />
      <img src="/static/assets/images/sidebar3.png" alt="sidebar3" />
      <img src="/static/assets/images/sidebar4.png" alt="sidebar4" />
    </div>

    <!-- Dashboard Content -->
    <div class="flex flex-col">
      <!-- Header -->
      <div class="flex justify-between py-6 px-4 h-12">
        <div class="flex">
          <img
            class="w-auto h-12"
            src="/static/assets/images/header1.png"
            alt="header1"
          />
          <h1 class="mr-6">Passion Economy 2021</h1>
          <img
            class="w-auto h-6 mr-6"
            src="/static/assets/images/chevron.png"
            alt="chevron"
          />
          <span>...</span>
        </div>
        <div class="flex">
          <img
            class="w-auto h-6"
            src="/static/assets/images/chain.png"
            alt="chain"
          />
          <h1>Analysis</h1>

          <button
            class="rounded-lg text-purple-500 bg-purple-100 px-4 py-6 text-center"
          >
            Publish
          </button>
          <button class="bg-purple-500 text-white px-4 py-6 text-center">
            Publish
          </button>
        </div>
      </div>

      <!-- Tabs -->
      <div class="mt-12 flex gap-12 px-4">
        <h1>Overview</h1>
        <h1>People</h1>
        <h1>Agenda</h1>
        <h1>Design</h1>
        <h1>Emails</h1>
        <h1>Settings</h1>
      </div>

      <!-- Main Card -->
      <div class="flex border-2 rounded-lg my-6 mx-4 p-4">
        <div>
          <img
            src="/static/assets/images/cam.png"
            alt="cam icon"
            class="h-12"
          />
        </div>

        <div class="px-4">
          <div class="flex justify-between">
            <div>
              <h1>Summit</h1>
              <h1 class="font-bold">Passion Economy 2021</h1>
            </div>
            <div>
              <button
                class="rounded-lg text-purple-500 bg-purple-100 px-4 py-2 text-center mr-4 font-semibold"
              >
                Copy Link
              </button>
              <button
                class="rounded-lg text-purple-500 bg-purple-100 px-4 py-2 text-center font-semibold"
              >
                Manage Event
              </button>
            </div>
          </div>

          <div class="mt-6 flex gap-12">
            <div>
              <h1>Event Stats</h1>
              <span>Ended</span>
            </div>

            <div>
              <h1>Date</h1>
              <span>18 Aug - 20 Aug,2021</span>
            </div>

            <div>
              <h1>Event Stats</h1>
              <span>Ended</span>
            </div>

            <div>
              <h1>Presenters</h1>
              <img
                src="/static/assets/images/attendees.png"
                alt="attendees"
                class="h-10"
              />
            </div>

            <div>
              <h1>Sessions</h1>
              <span>4</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Event Stats Header-->
      <div class="flex justify-between">
        <h1 class="px-4 py-4 font-semibold text-lg">Event Stats</h1>
        <button
          class="rounded-lg text-purple-500 bg-purple-100 px-4 py-2 text-center font-semibold"
        >
          Export Report
        </button>
      </div>
      <div class="flex w-full">
        <!-- Event Stats -->
        <div class="grid grid-cols-3 gap-6 px-4 w-1/2">
          <div class="bg-white py-6 px-12 border border-gray-200 rounded-lg">
            <h1 class="text-gray-500 font-semibold text-sm">Registrations</h1>
            <h1 class="font-bold text-lg">3.9K</h1>
            <div class="flex gap-4">
              <span class="text-xs text-green-400 font-semibold">+21%</span>
              <h1 class="text-gray-500 text-xs">since last week</h1>
            </div>
          </div>

          <div class="bg-white py-6 px-12 border border-gray-200 rounded-lg">
            <h1 class="text-gray-500 font-semibold text-sm">Registrations</h1>
            <h1 class="font-bold text-lg">3.9K</h1>
            <div class="flex gap-4">
              <span class="text-xs text-green-400 font-semibold">+21%</span>
              <h1 class="text-gray-500 text-xs">since last week</h1>
            </div>
          </div>

          <div class="bg-white py-6 px-12 border border-gray-200 rounded-lg">
            <h1 class="text-gray-500 font-semibold text-sm">Registrations</h1>
            <h1 class="font-bold text-lg">3.9K</h1>
            <div class="flex gap-4">
              <span class="text-xs text-green-400 font-semibold">+21%</span>
              <h1 class="text-gray-500 text-xs">since last week</h1>
            </div>
          </div>

          <div class="bg-white py-6 px-12 border border-gray-200 rounded-lg">
            <h1 class="text-gray-500 font-semibold text-sm">Registrations</h1>
            <h1 class="font-bold text-lg">3.9K</h1>
            <div class="flex gap-4">
              <span class="text-xs text-green-400 font-semibold">+21%</span>
              <h1 class="text-gray-500 text-xs">since last week</h1>
            </div>
          </div>

          <div class="bg-white py-6 px-12 border border-gray-200 rounded-lg">
            <h1 class="text-gray-500 font-semibold text-sm">Registrations</h1>
            <h1 class="font-bold text-lg">3.9K</h1>
            <div class="flex gap-4">
              <span class="text-xs text-green-400 font-semibold">+21%</span>
              <h1 class="text-gray-500 text-xs">since last week</h1>
            </div>
          </div>

          <div class="bg-white py-6 px-12 border border-gray-200 rounded-lg">
            <h1 class="text-gray-500 font-semibold text-sm">Registrations</h1>
            <h1 class="font-bold text-lg">3.9K</h1>
            <div class="flex gap-4">
              <span class="text-xs text-green-400 font-semibold">+21%</span>
              <h1 class="text-gray-500 text-xs">since last week</h1>
            </div>
          </div>
        </div>

        <!-- Top Sessions -->
        <div>
          <div class="flex justify-between">
            <span class="block">Top Sessions</span>
            <span class="block">By attendance</span>
          </div>

					<!-- Session Component -->
					<div class="flex flex-col gap-2">
						<div class="flex justify-between">
							<span class="block">Keynore - The future of remote work</span>
							<span class="block">102</span>
						</div>
						<div class="w-full rounded-2xl bg-green-200 h-3">
							<div class="bg-green-400 h-3 rounded-lg w-2/3"></div>
						</div>
					</div>

							<!-- Session Component -->
					<div class="flex flex-col gap-2">
						<div class="flex justify-between">
							<span class="block">Keynore - The future of remote work</span>
							<span class="block">102</span>
						</div>
						<div class="w-full rounded-2xl bg-green-200 h-3">
							<div class="bg-green-400 h-3 rounded-lg w-2/3"></div>
						</div>
					</div>
							<!-- Session Component -->
					<div class="flex flex-col gap-2">
						<div class="flex justify-between">
							<span class="block">Keynore - The future of remote work</span>
							<span class="block">102</span>
						</div>
						<div class="w-full rounded-2xl bg-green-200 h-3">
							<div class="bg-green-400 h-3 rounded-lg w-2/3"></div>
						</div>
					</div>

					<a href="#" class="mt-6 block text-purple-500 font-medium">More details =></a>


        </div>
      </div>
    </div>
  </body>
</html>
