{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="bg-gray-50 font-serif leading-normal tracking-normal flex">
    <!-- Sidebar -->
    <div
      class="border-r-2 px-2 py-6 h-screen flex flex-col justify-between w-max"
    >
      <img src="/static/assets/images/sidebar1.png" alt="sidebar1" />
      <img src="/static/assets/images/sidebar2.png" alt="sidebar2" />
      <img src="/static/assets/images/sidebar3.png" alt="sidebar3" />
      <img src="/static/assets/images/sidebar4.png" alt="sidebar4" />
    </div>

    <!-- Dashboard Content -->
		<div class="flex flex-col">

			<!-- Header -->
			<div class="flex justify-between py-6 px-4 h-12">
				<div class="flex">
					<img
          class="w-auto h-12"
          src="/static/assets/images/header1.png"
          alt="header1"
					/>
					<h1 class="mr-6">Passion Economy 2021</h1>
					<img
          class="w-auto h-6 mr-6"
          src="/static/assets/images/chevron.png"
          alt="chevron"
					/>
					<span>...</span>
				</div>
				<div class="flex">
					<img
          class="w-auto h-6"
          src="/static/assets/images/chain.png"
          alt="chain"
					/>
					<h1>Analysis</h1>

					<button class="rounded-lg text-purple-500 bg-purple-100 px-4 py-6 text-center">Publish</button>
					<button class="bg-purple-500 text-white px-4 py-6 text-center">Publish</button>
				</div>
			</div>

			<!-- Tabs -->
			<div class="mt-12 flex gap-12 px-4">
				<h1>Overview</h1>
				<h1>People</h1>
				<h1>Agenda</h1>
				<h1>Design</h1>
				<h1>Emails</h1>
				<h1>Settings</h1>
			</div>
		</div>
		</body>
		</html>
