{% load static%}
<div
  class="border-b-2 md:border-r-2 px-2 py-6 flex flex-row md:flex-col md:h-screen justify-between md:w-16"
>
 <img src="/static/assets/images/heysummit-logo.svg" alt="heysummit-logo" />

    <div class="md:hidden h-12 w-12" onclick="openNav()">
    <svg
      id="hamburger-icon"
      className="fill-current hover:text-black"
      viewBox="0 0 24 24"
    >
      <path
        fillRule="evenodd"
        d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
      />
    </svg>
    </div>


<div class="md:hidden h-12 w-12"  onclick="closeNav()">
     <svg
      id="close-icon"
      className="h-12 w-12 fill-current hover:text-black"
      viewBox="0 0 24 24"
    >
      <path
        fillRule="evenodd"
        d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
      />
      </svg>

    </div>

  </div>

</div>
